.login h1 a {
    background-image: url(img/ccilogo.png);
    background-size:contain;
    height:100px;
    width:200px;
}

input#wp-submit{
    border-radius: 0;
    box-shadow: none;
}

html,body{
    background-color:white;
}

.login #login_error, .login .message, form#loginform{
    background-color:rgba(241,241,241,1);
}
