@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic);

body{
    font-family:"Open Sans";
    -webkit-font-smoothing: antialiased;

}
$color_teal: #0083A9;
$color_copyright:#CDCDCD;
$color_yellow:#F0B310;

$color_bg_blue: #EAF5F9;
$color_asset_title: #F47321;
$page-max-width: 1100px;

/////////////////////////////////////////////////
//Header
/////////////////////////////////////////////////
.site-title{
    
    a{
        //height:100px;
        //max-height:100px;
        display:block;
        //max-height:100px;
        //height:75px;
        img{
            height:auto;
            width:auto;
            max-height:100px;
            @media screen and (max-width:800px){
                max-height:60px;
            }
        }
    }
    margin-right:1em;
}

.site-branding{
    display:flex;
    justify-content: space-between;
    max-width: $page-max-width;
    margin: 1em auto;
}
@media screen and (max-width:800px){
    .main-navigation{
        width:50%;
    }
}




/////////////////////////////////////////////////
//footers
/////////////////////////////////////////////////
.site-footer{
    background-color:#E3E3E3;
    color:#717F81;
    font-size:0.8em;
    //border-top: 1em solid $color_yellow;
    padding-top:3em;
    padding-bottom:1em;
}

.footer-row{
    
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
}
.footer-title{
    color:$color_teal;
}
.footer-copyright{
    color:$color_copyright;
    text-align: center;
    
}
.footer-logo-container{
    width:200px;
    margin-right:10em;
}
h2.footer-title{
    
    margin-bottom:0;
    font-size:1.1em;
}
p.footer-text{
    margin-top:0;
}

@media screen and (max-width:600px){
    .footer-row{
        flex-direction: column;
    }
    .footer-logo-container{
        margin-right:0;
    }
}

/////////////////////////////////////////////////
// site-layout
/////////////////////////////////////////////////

#primary.content-area{
//    max-width: $page-max-width;
 //   margin:0 auto;
    min-height:70vh;
}

#disqus_thread body{
    background-color:$color_bg_blue !important;
}

.fullwidth{
    width:100vw;
// position:relative;
    //float:left;
}

.inner-page-width{
    max-width:$page-max-width;
    margin:0 auto;
    
}

.entry-content{
    margin-top:0;
    display:block;
}

.page .site-main{
    max-width:$page-max-width;
    margin: 0 auto;
    padding-top:4em;
    padding-bottom:3em;
}
.page .content-area{
        background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-bottom: 1em solid $color_yellow;
}
/////////////////////////////////////////////////
// asset-banner
/////////////////////////////////////////////////

$asset_height:500px;
$asset_nav:375px;
.asset-banner{
    //display:flex;
    //justify-content: space-between;
    //align-content: stretch;
    background-color:black;
    height:$asset_height;
}

.asset-banner-content{
    //width:500px;//calc(100%-$asset_nav);
    //flex:1 1 auto;
    //max-width:700px;
    background-color:#eeeeee;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
//    height:$asset_height;
    height:100%;
    
}

.asset-nav{
    width:$asset_nav;
    //flex:0 0 $asset_nav;
    background-color:$color_yellow;
    //padding:1.5em 2em;
    color:white;
//    height:$asset-height;
    float:left;
    overflow: scroll;
    overflow-x:hidden;
    height:100%;
}

.embed-container { 
    position: relative; 
    padding-bottom: 44%;
    //padding-bottom: 57%;
    height: 0;
    overflow: hidden;
    //padding-right:1em;
    //max-width: 100%;
    //height: 100%;
    max-height: $asset_height;
    
} 


.embed-container iframe,
    .embed-container object,
    .embed-container embed { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    //height: 100%;
    height:$asset_height;
}



@media screen and (max-width:1000px){
    .asset-banner{
        display:flex;
        flex-direction:column;
        position: relative;
        height:inherit;
        
    }
    .asset-banner-content{
        order:1;
        //height:$asset_height;
        height:inherit;
    }
    .asset-nav{
        order:2;
        width:100%;
        overflow:auto;
        height:auto; 
    }
    .embed-container { 
        position: relative; 
        padding-bottom: 56.25%;
        height:0px;
        //padding-bottom: 57%;
        //height: 0;
        overflow: hidden;
        //padding-right:1em;
        //max-width: 100%;
        //height: 100%;
        //max-height: $asset_height;
        //padding-bottom:100%;

    } 

    .embed-container iframe,
    .embed-container object,
    .embed-container embed 
    {
        position: absolute;
        //position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        //height:$asset_height;
    }
    
}

.asset-nav-prev-subsection,
.asset-nav-next-subsection{
    vertical-align: middle;
    font-weight:600;
    text-align: left;
    position: relative;
    padding-left:0em;
    //padding-right:2em;
    margin: 0.5em 0;
    
    a{text-transform: uppercase;}
}
.asset-nav-prev-subsection{
    padding-left:2em;
}
.asset-nav-prev-subsection:before{
    position: absolute;
    left:2em;
    top:0.2em;
    //top:1;
    //margin-top:-0.2em;
    //margin-right:1em;
    content:"";
    background-image: url(img/next.svg);
    height:2em;
    width:1em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
    display:block;
    transform: rotate(180deg);
    vertical-align: middle;
    
}
.asset-nav-next-subsection:after{
    position: absolute;
    right:2em;
    top:0;
    margin-top:-0.15em;
    //margin-right:1em;
    content:"";
    background-image: url(img/next.svg);
    height:2em;
    width:1em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
    display:block;
    //transform: rotate(180deg);
    vertical-align: middle;
    
}
.asset-nav-section-title{
    font-size:1.25em;
    color:black;
    margin-top:1em;
    text-transform: uppercase;
    margin-bottom:0;
}

.asset-nav-section-list{
    list-style: none;
    padding-left:0;
    margin-left:0;
    
    li{
        padding: 0em 0em;
    }
    li.current-item{
        background-color:rgba(255,255,255,0.2);
    }
    .asset-nav-title{
        
        display:inline-block;
        font-weight:600;
        font-size:0.9em;
    }
}

.asset-nav-next-subsection a,
.asset-nav-prev-subsection a,
h1.asset-nav-section-title a,
.asset-nav-section-list a
{
    color:inherit;
    text-decoration: none;
    padding: 0.5em 2em;
    display:flex;   
    align-items: center;
    
    &:hover{
        text-decoration: underline;
    }
    
}

.nav-icon.nav-icon-mov, 
.nav-icon.nav-icon-ppt, 
.nav-icon.nav-icon-xls, 
.nav-icon.nav-icon-pdf
{
    flex-grow:0;
    flex-shrink: 0;
    box-shadow: 0 0 0 rgba(0,0,0,0);
}
/////////////////////////////////////////////////
// main-content
/////////////////////////////////////////////////

$main-sec-col1:35%;
.asset-main-section .inner-page-width {
    display:flex;
    margin-top:2em;
}

.asset-main-section-col1{
    width:$main-sec-col1;
    padding-right:1em;
}
.asset-main-section-col2{
    width:(100%-$main-sec-col1);
    
}

.asset-main-bigsection{
    font-weight: 600;
    width:100%;
    text-align: right;
    color:#767676;
    border-bottom:0.2em solid $color_yellow;
    text-transform: uppercase;
}
.asset-main-asset-title{
    font-weight:700;
    font-size: 2em;
    text-align: right;
    width:100%;
    color:$color_asset_title;
    text-transform: uppercase;
    margin-bottom:1em;
}

@media screen and (max-width:700px){
    .asset-main-section .inner-page-width {
        flex-direction: column;
    }
    .asset-main-section-col1{
        width:100%;    
        padding-left:1em;
    }
    .asset-main-section-col2{
        width:100%;
    }
    .asset-main-bigsection{
        text-align: left;
        padding-left:20px;
    }
    .asset-main-asset-title{
        text-align: left;
        padding-left:20px;
    }
    
}

.asset-main-download-attachment-container{
    background-color:$color_yellow;
    display:flex;
    color:white;
    max-width:300px;
    width:300px;
    float: right;
    margin-bottom:0.5em;
    //justify-content: space;
}
.asset-main-download-attachment-icon{
    height:3em;
    width:4em;
    border-right:1px solid rgba(255,255,255,0.45);
    background-repeat: no-repeat;
    //background-size: contain;
    background-position: center center;
}
.asset-main-download-name{
    padding: 0.5em 1em;
}
.asset-main-download-title{
    font-size:0.8em;
    margin:0;
    text-transform: uppercase;
}
.asset-main-download-text{
    margin:0;
    font-weight:700;
    font-size:0.5em;
}

.asset-main-description{
    background-color:#F8F8F8;
    width:100%;
    color:#363636;
    font-size:0.9em;
    margin-bottom:0.1em;
    padding-left:1em;
    padding-right:1em;
    padding-top:1em;
    padding-bottom:1em;
}

.asset-main-author{
    background-color: #F8F8F8;
    padding-left:1em;
    padding-right:1em;
    display:flex;
    padding-top:1em;
    padding-bottom:1em;
}
.asset-main-author-image{
    background-color:$color_yellow;
    width:4em;
    height:4em;
    border-radius: 100%;
    overflow: hidden;
    flex-grow:0;
    flex-shrink:0;
}
.asset-main-author-title-container{
    padding-left:1em;
    padding-top:0.5em;
}
.asset-main-author-name{
    margin:0;
    font-size:0.9em;
    text-transform: uppercase;
    
}
.asset-main-author-title{
    margin:0;
    font-size:0.9em;
    font-style: italic;
    text-transform: uppercase;
}

/////////////////////////////////////////////////
// comment-section
/////////////////////////////////////////////////

.asset-comment-section{
    background-color:#EAF5F9;
    padding: 2em 0;
    @media screen and (max-width:700px){
        padding-left:1em;
        padding-right:1em;
    }
}

/////////////////////////////////////////////////
// other-pages
/////////////////////////////////////////////////

section.error-404{
    max-width:$page-max-width;
    padding:1em;
    margin: 0 auto;
    
    h1{
        text-align: center;
    }
    .page-content{
        background-color:$color_bg_blue;
        padding:0.75em 1.5em;
    }
}

/////////////////////////////////////////////////
// section-pages
/////////////////////////////////////////////////

.section-top-row{
    max-width:$page-max-width;
    margin: 1em auto;
    margin-top:3em;
    display:flex;
    align-items: flex-start;
    margin-top:0;
    padding-top:3em;
    
}
.section-top-row-title{
    width:50%;
    text-align: right;
    padding-right:3em;
    padding-top:1em;
    padding-bottom:1em;
    font-size:2em;
    font-weight: 600;
    text-transform: uppercase;
}
.section-top-row-description{
    width:50%;
    padding-left:3em;
    padding-right:2em;
}

@media screen and (max-width:700px){
    .section-top-row{
        flex-direction: column;
    }
    .section-top-row-description{
        width: 100%;
        
    }
    .section-top-row-title{
        width: 100%;
        text-align: center;
        padding-right: 1em;
        padding-left:1em;
        border-right:0 !important;
    }
}
.section-page{
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top center;
    margin-bottom: 0;
    padding-bottom:2em;
    
}
.section-page-nav{
    max-width: $page-max-width;
    margin: 5em auto 2em;
    background-color:#F9F9F9;
    box-shadow: 0 0 30px rgba(0,0,0,0.25);
}
.subsection{
    display:flex;
    padding: 2em;
}
.subsection-col1{
    width:50%;
    
}
.subsection-col2{
    width:50%;
}
@media screen and (max-width:700px){
    .subsection{
        flex-direction: column;
    }
    .subsection-col1{width:100%;}
    .subsection-col2{width:100%;}
    
}
.subsection-title{
    text-transform: uppercase;
    color:#414141;
    font-weight:700;
    font-size:1.2em;
}
.subsection-description{
    color:#4D4D4D;
    max-width:20em;
    font-size:0.9em;
}

ul.subsection-nav{
    list-style-type: none;
    font-size:0.9em;
    font-weight:600;
    padding-left:0;
    margin-left:0;
    li{
        padding: 0.25em 0;
        position: relative;
        
        a{
            color:black;
            text-decoration: none;
        }
    }
}





//** SECTION NAv

.nav-icon-mov,
.nav-icon-ppt,
.nav-icon-xls,
.nav-icon-pdf{
    height:1.5em;
    width:1.5em;
    border-radius:100%;
    display:inline-block;
    //border: 0.05em solid #000000;
    background-color:white;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    vertical-align: middle;
    margin-right:1em;
    position: relative;
    z-index: 1;
    
    background-repeat: no-repeat;
    background-size:130%;
    background-position: 40% 50%;
}

.nav-icon-mov{
    background-image:url(img/nav-icon-mov3.svg);
}

.nav-icon-ppt{
    background-image:url(img/nav-icon-ppt.svg)
}
.nav-icon-pdf{
    background-image:url(img/nav-icon-pdf.svg);
}
.nav-icon-xls{
    background-image:url(img/nav-icon-xls.svg);
}
ul.subsection-nav li:not(:first-child):before{
    content:'';
    height:1.5em;
    width:0.15em;
    background-color:#CDCDCD;
    position:absolute;
    left:.675em;
    bottom:50%;
    z-index:0;
}

//***  Front Page

.logo{
    text-align: center;
}

.front-page{
    max-width:800px;
    margin: 0 auto;
    h1{
        text-transform: uppercase;
        color:#46A5C1;
        font-weight:700;
    }
    @media screen and (max-width:800px){
        margin-left:1em;
        margin-right:1em;
    }
}

.description{
    text-align: justify;
    border-top:1px solid #9B9B9B;
    border-bottom:1px solid #9B9B9B;
    padding-top:3em;
    padding-bottom:3em;
}

article.page{
    margin-bottom:0;
}


//************************************
//** FRONT NAV
//************************************

.asset-nav-section-list {
    li{
        transition: all 0.2s ease;
        animation-name:slideIn;
        animation-iteration-count:1;
        animation-timing-function: ease-in;
        animation-duration:0.6s;
        animation-fill-mode: forwards;
        opacity:0;
        
        &:nth-of-type(1){animation-delay:0.1s;}
        &:nth-of-type(2){animation-delay:0.2s;}
        &:nth-of-type(3){animation-delay:0.3s;}
        &:nth-of-type(4){animation-delay:0.4s;}
        &:nth-of-type(5){animation-delay:0.5s;}
        &:nth-of-type(6){animation-delay:0.6s;}
        &:nth-of-type(7){animation-delay:0.7s;}
        &:nth-of-type(8){animation-delay:0.8s;}
        &:nth-of-type(9){animation-delay:0.9s;}
        &:nth-of-type(10){animation-delay:1.0s;}
        &:nth-of-type(11){animation-delay:1.1s;}
        &:nth-of-type(12){animation-delay:1.2s;}
        &:nth-of-type(13){animation-delay:1.3s;}
        &:nth-of-type(14){animation-delay:1.4s;}
        &:nth-of-type(15){animation-delay:1.5s;}
        &:nth-of-type(16){animation-delay:1.6s;}
        &:nth-of-type(17){animation-delay:1.7s;}
        &:nth-of-type(18){animation-delay:1.8s;}
        &:nth-of-type(19){animation-delay:1.9s;}
    }

}
@keyframes slideIn{
    0%{ 
        transform:translateX(50px);
        opacity:0;
    }
    100%{
        transform:translate(0px);
        opacity:100;
    }
}
.nav-sections{
    color:white;
    text-transform: uppercase;
    font-weight:600;
    font-size:0.9em;
    list-style: none;
    margin-left:0;
    padding-left:0;
    display:flex;
    justify-content: space-between;
    align-items: stretch;
    
    li{
        width:150px;
        //height:100%;
    }
    a{
        color:white;
        text-decoration: none;
        display:block;
        text-align: center;
        padding: 1.25em;
        display: flex;
        align-items: center;
        justify-content: center;
        height:100%;
        width:100%;
        transition: all 0.2s ease;
        &:hover{
            transform:translateY(-5px);
        }   
    }
}
@media screen and (max-width:800px){
    .nav-sections{
        flex-direction: column;
        
    li{
        width:90%;
        margin:0 auto;
    }
    }
}
    
//************************************
//** TOP NAV
//************************************

ul.top-nav-sections{
    display:flex;
    justify-content: space-between;
    align-items: stretch;
    font-size:0.85em;
    padding-top:.5em;
    margin-left:3em;
    
    
     & > li{
        width:150px;
        display:flex;
        align-items: center;
        &:hover{
            color:white;
            z-index:75;
         }
        position:relative;
        
    }
    & > li:after{
        content:"";
        position: absolute;
        height:0.75em;
        width:0.75em;
        border-left: 2px solid #46A5C1;
        border-bottom:2px solid #46A5C1;
        transform: rotateZ(-45deg);
        right:10px;
        top:25px;

    }
    & > li:hover:after{
            border-left: 2px solid white;
            border-bottom:2px solid white;
            
        }
    & > li > a{
        width:100%;  
        padding:1em 1em;
        padding-right:2.5em;
        color:inherit;
        position: relative;
        

    }
    
    .section-top-nav-expanded{
        position: fixed;
        
        margin-left:-$page-max-width/2;
        top:90px;
        width:$page-max-width;
        max-width:100%;
        @media screen and (max-width:$page-max-width){
            margin-left:-50vw;
        }
        opacity:0;
        background-color:white;
        box-shadow: 0 0 2em rgba(0,0,0,0.55);
        transition: opacity 0.2s ease;
        //display:none;
        z-index:50;
        left:50000px;
    
        .subsection-nav ul li a{
            color:black;
        }
    }
    
    & > li:hover .section-top-nav-expanded{
        opacity:1;
        left:50%;
    }
    .subsection-nav{
        width:100%;
        a{
            width: 100%;
        }
    }
    color:#46A5C1;
    text-transform: uppercase;
    font-weight:600;
}

@media screen and (max-width:1000px){
    body{
        font-size:0.8em;
    }
    ul.top-nav-sections{
        & > li{
            width:110px;
        }
    }
    
}
.menuswitch{
    display:none;
    
    input{display:none;}
    .menutoggle{
        height:44.59px;
        width:44.59px;
        background-color:white;
        background-image:url(img/nav.svg);
        background-size:25px 25px;
        background-position: center center;
        background-repeat: no-repeat;
        transition: all 0.2s ease;
        &:hover{
         // background-color:#222222;
        }
        &:checked{
         background-color:#222222;
        }
    }  
}
@media screen and (max-width:800px){
    .site-title{
        margin-left:1em;
    }
    nav#site-navigation > ul.top-nav-sections{
        display:none;
    }
    .menuswitch ul.top-nav-sections{
        margin-left:0;
        flex-direction: column;
        
        
        
        position: fixed; 
        //top:-100%;
         top:80px;
        left:100%;
        //left:0%;
        width:100%;
        z-index:100;
        transition:all 0.2s ease;
        //left:0;

        & > li{
            width:100%;
            border-bottom:1px solid #888;
            
            
           // left:100%;
            background-color:#222;
            color:#eee;
        }
        & > li:after{
            display:none;
        }
        & > li .section-top-nav-expanded{
            display:none;
        }
    }
    
    .menuswitch{
        display:block;
        float:right;
        margin-top:0.5em;
        margin-right:1em;
    }
    #sidetoggle:checked + ul.top-nav-sections  {
        left:0;
    }

}
.main-navigation ul ul { 
    left:inherit;
    top:inherit;
    box-shadow: none;
    position: inherit;
    float:none;
    li{
        float:none;
    }
}

.site-header{
    box-shadow: 0 0 50px rgba(0,0,0,0.15);
    position:fixed;
    top:0;
    z-index:20;
    width:100vw;
    height:120px;
    background-color:white;
    //overflow:hidden;
    @media screen and (max-width:800px){
        height:80px;
    }
}
body{ 
    padding-top:118px;
    @media screen and (max-width:800px){
        padding-top:80px;
    }

}

ul.subsection-nav > li > a{
    color:#999999;   
    transition:all 0.2s ease;
    .nav-icon-mov{
        opacity:1;
    }
    
}
ul.subsection-nav > li:hover {
    a{
        color:black;
        text-decoration: underline;
        
        //background-color:#eeeeee;
        .nav-icon-mov{
            box-shadow: 0 0 5px rgba(0,0,0,0.95);
            opacity:1;           
        }
    }
}

ul.subsection-nav > li:not(:last-child) {
    //border-bottom:1px dotted rgba(0,0,0,0.2);
}

ul.asset-nav-section-list li{
    position: relative;
    border-top:1px solid rgba(255,255,255,0.25);
    &:last-child{border-bottom:1px solid rgba(255,255,255,0.25);}
}
ul.asset-nav-section-list li:not(:first-child):before{
    content:'';
    position:absolute;
    background-color:white;
    width:0.1em;
    height:50%;
    top:0;
    left:2.65em;
}

ul.asset-nav-section-list li:not(:last-child):after{
    content:'';
    position:absolute;
    background-color:white;
    width:0.1em;
    height:50%;
    top:50%;
    left:2.65em;
}



